body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-align: center;
  background-color: #fff;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:focus {
  outline: 0;
}


.header_login{
	display:none !important;
}

header {
  background-color: #f9a603;
  background: linear-gradient(to right, black 10%, #f9a603);
  position: fixed;
  top: 0;
  left: 0;
  height: 48px;
  width: 100%;
  z-index: 999;
}
#head-content {
  margin: 0 auto;
}
#logo {
  float: left;
  height: 70px;
  overflow: hidden;
}
#logo a {
  color: #fff;
  display: block;
  font-size: 24px;
}
#logo a img {
  width = 150px;
  height=45px
}
#menu {
  float: right;
}
#menu span:after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom: none;
  border-top-color: #999;
  content: '';
  vertical-align: middle;
  display: inline-block;
  position: relative;
  right: -6px;

}
#menu ul {
  text-align: left;
  display: inline;

}
#menu ul li {
  display: inline-block;
  margin-right: -4px;
  position: relative;
}
#menu ul li:last-child {
  margin: 0;
}
#menu ul li a {

  color: #f7efe2;
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding: 11px 18px;
}
#menu ul li a:hover {
  background-color: #f25c00;
  color: #fff;
}
#menu ul li ul {
  display: none;
  opacity: 0;
  position: absolute;
  visibility: hidden;
}
#menu ul li ul li {
  display: block;
  width: 140px;
  margin: 0;
}
#menu ul li.sub ul li a:hover {
  background-color: #f25c00 !important;
}
#menu .sub.open ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
#mobbtn {
  background-color: #f25c00;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 26px;
  line-height: 20px;
  padding: 14px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 200;
}
@media screen and (min-width: 961px) {
  .sub.open a {
    background-color: #f25c00 !important;
    color: #fff !important;
  }
}
@media screen and (max-width: 960px) {
  #mobbtn {
    display: block;
  }
  #menu {
    width: 220px;
    position: fixed;
    right: -220px;
    top: 0;
  }
  .mobile {
    max-height: 100%;
    overflow: auto;
  }
  #menu.mobile ul li,
  #menu.mobile ul li ul li {
    display: block;
    margin: 0;
    width: auto !important;
  }
  #menu.mobile ul li a,
  #menu.mobile ul li ul li a {
    background-color: #333;
    color: #fff;
  }
  #menu.mobile ul li a:hover,
  #menu.mobile ul li ul li a:hover {
    background-color: #333;
  }
  #menu.mobile ul li ul {
    position: relative;
  }
  #menu.mobile ul li ul li {
    padding-left: 20px;
    width: 80px;
  }
  .sub.open {
    background-color: #333 !important;
    color: #fff !important;
  }
  #menu.mobile li.sub ul.open li:last-child {
    padding-bottom: 0;
  }
}

.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

main {
  margin-top: 48px; !important;
}

/* SEARCH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.search {
  background: url("https://picsum.photos/2000/2000?image=999") no-repeat fixed center / cover;
  color: black;
}

.search .one-third,
.search .two-thirds {
  background: white;
  background: rgba(255,255,255,.3);
  padding: 10px;
  border-radius: 5px;
}

.search .one-third {
  margin-top: 20px;
}

.search a {
  margin-top: 10px;
}

.search ul {
  margin-bottom:18px;
}

.search h3:after, .contact h3:after {
  border-color: black;
}

.search .center {
  text-align: center;
}

.search .bottom {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.search .one-third a {
  margin: 10px auto;
  width: 50%;
  display: block;
}

.search .two-thirds p:last-child {
  margin-bottom: 0;
}

.search .search-heading {
  color: white;
}

.search .btn {
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 3px #f25c00;
	-moz-box-shadow: 0px 1px 3px #f25c00;
	box-shadow: 0px 1px 3px #f25c00;
	color: #000;
	background: #f9a603;
	text-decoration: none;
	vertical-align:middle;
}

.search .btn:hover {
	background: #f25c00;
}
/*for text container*/
.textcontainer {
   color: white;
   font:  18px/45px Helvetica, Sans-Serif;
  text-align: left;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}

/*line under headings*/
.textcontainer h1:after {
     background: none repeat scroll 0 0 #fff;
     bottom: -10px;
     content: "";
     display: block;
     height: 4px;
     position: relative;
     width: 100px;
 }

.partner{
  background-color:#fef1d5;
}

footer {
  background-color: #f9a603;
  color: white;
  height: 100px;
}

/*How Foodscribe works start*/
.img-circle {
    border-radius: 50%;
}


.aboutScript {
  background: url("https://picsum.photos/2000/2000?image=835") no-repeat fixed center / cover;
  color: black;
}
